<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Beranda</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <style>
        .header {
            padding: 80px;
            text-align: center;
            background: #3484F0;
            color: white;
        }

        .row-body {
            -ms-flex: 70%; /* IE10 */
            flex: 70%;
            background-color: white;
            padding: 20px;
        }


    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Beranda')"></nav>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<script
        src="https://code.jquery.com/jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
        crossorigin="anonymous"
></script>
<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<div class="header">
    <div class="m-4">
        <div class="d-flex justify-content-center">
            <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser}+'!'">Login as</h2>
        </div>

        <div class="d-flex justify-content-center">
            <h1>Rumah Sehat</h1>
            <br>
        </div>

        <br>
        <br>

        <div class="d-flex justify-content-center">
            <p>Website created by C_ADM_Kelompok 84</p>
            <br>
        </div>
        <br>
    </div>
</div>

<div class="row-body">
    <div class="m-4">

        <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
            <h2>Fitur</h2>
        </div>

        <br>

        <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
            <a th:href="@{/user/viewall-dokter}" class="mx-2 btn btn-secondary btn-block">Lihat Semua Dokter</a>
        </div>

        <br>

        <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
            <a th:href="@{/user/viewall-apoteker}" class="mx-2 btn btn-secondary btn-block">Lihat Semua Apoteker</a>
        </div>

        <br>

        <div class="d-flex justify-content-center" sec:authorize="hasAnyAuthority('Admin', 'Dokter')">
            <a th:href="@{/user/viewall-appointment}" class="mx-2 btn btn-secondary btn-block">Lihat Jadwal Appointment</a>
        </div>

        <br>

        <div class="d-flex justify-content-center" sec:authorize="hasAnyAuthority('Admin', 'Apoteker')">
            <a th:href="@{/user/viewall-resep}" class="mx-2 btn btn-secondary btn-block">Lihat Resep</a>
        </div>

        <br>

        <div class="d-flex justify-content-center" sec:authorize="hasAnyAuthority('Admin', 'Apoteker')">
            <a th:href="@{/user/viewall-obat}" class="mx-2 btn btn-secondary btn-block">Lihat Semua Obat</a>
        </div>

        <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Dokter')">
            <a th:href="@{/user/tambah-resep}" class="mx-2 btn btn-secondary btn-block">Membuat Resep</a>
        </div>

        <br>
    </div>
</div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>