<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Beranda</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Beranda')"></nav>
</body>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<script
        src="https://code.jquery.com/jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
        crossorigin="anonymous"
></script>
<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

  <div class="d-flex justify-content-center">
    <div class="m-4">
      <div class="d-flex justify-content-center">
        <h2 th:text="'Hello ' + ${#httpServletRequest.remoteUser}+'!'">Login as</h2>
      </div>

      <div class="d-flex justify-content-center">
        <h2>Selamat Datang di Rumah Sehat</h2>
      </div>
      <br>

      <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
        <a th:href="@{/user/viewall-dokter}" class="mx-2 btn btn-primary">Lihat Semua Dokter</a>
        <a th:href="@{/user/viewall-apoteker}" class="mx-2 btn btn-primary">Lihat Semua Apoteker</a>
      </div>
      <br>

      <div class="d-flex justify-content-center">
        <a th:href="@{/user/viewall-obat}" class="mx-2 btn btn-primary">Lihat Semua Obat</a>
<!--        <a th:href="@{/user/viewall-apoteker}" class="mx-2 btn btn-primary">Update</a>-->
      </div>
      <br>
      <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
        <a th:href="@{/user/viewall}" class="mx-2 btn btn-primary">Lihat Semua User</a>
      </div>
      <br>

      <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
        <a th:href="@{/user/viewall-dokter}" class="mx-2 btn btn-primary">Lihat Semua Dokter</a>
      </div>
      <br>

      <div class="d-flex justify-content-center" sec:authorize="hasAuthority('Admin')">
        <a th:href="@{/user/viewall-apoteker}" class="mx-2 btn btn-primary">Lihat Semua Apoteker</a>
      </div>
      <br> -->
      <!-- <div class="d-flex justify-content-center">
        <a th:href="@{/user/add}" class="mx-2 btn btn-outline-success">Tambah User Baru</a>
      </div> -->
    </div>
  </div>
</body>
</html>
