<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<style>
  .hide-animate{
    transition: 3s;
    opacity: 0;
  }
</style>
<head>
  <title>Rumah Sehat</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Obat')"></nav>
<div class="container">
  <!--  Flash message-->
  <div class="alert alert-primary" id="success-flash" role="alert" th:text="${success}" th:if="${success}"></div>
  <div class="alert alert-danger" id="error-flash" role="alert" th:text="${error}" th:if="${error}"></div>

  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Daftar Obat</h2>
        <br>
<!--        <a th:href="@{/user/add-obat}" class="mx-2 btn btn-outline-success">Tambah Obat</a>-->
        <br>
        <div th:if="*{listObat.size() != 0}">
          <table class="table">
            <thead>
            <tr>
              <th>No Obat</th>
              <th>Id Obat</th>
              <th>Nama Obat</th>
              <th>Stok</th>
              <th>Harga</th>
              <th style="text-align: center">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obat, iterationStatus : ${listObat}">
              <td th:text="${iterationStatus.count}"></td>
              <td th:text="${obat.idObat}"></td>
              <td th:text="${obat.namaObat}"></td>
              <td th:text="${obat.stok}"></td>
              <td th:text="${obat.harga}"></td>
              <td>
                  <a class="btn btn-sm btn-danger" th:href="@{/user/update/} + ${obat.idObat}">Update</a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <br>
        <br>
        <a class="btn btn-primary" th:href="@{/}">Beranda</a>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

<script type="text/javascript">
  function setNone(flashEl){
    flashEl.style.display = 'none';
  }

  setTimeout(() => {
    let flashEl = document.getElementById('success-flash')
    if (flashEl === null){
      flashEl = document.getElementById('error-flash')
    }
    flashEl.classList.add('hide-animate');
    setNone(flashEl);
  }, 3000)

</script>
</html>